#sport-form {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 30px;
  }
  
  #sport-form .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  #sport-form .form-control.form-control-inline {
    flex-direction: row;
  }
  
  .sport-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .sport-item {
    background-color: bisque;
    padding: 15px;
    width: calc((100% - 30px) / 2);
  }
  
  .sport-item.last-sport-item {
    width: 100%;
  }
  